<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>¡Bienvenido a nuestra tienda!</h1>
    <p>Vendemos todo tipo de producto para el hogar</p>
    <div id="productos">

    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/index.js"></script>
</body>
</html>